.fondo {
    background-color: #8CAB78;
}

.fuentec {
    font-family: 'VT323', monospace;
}

.elbicho {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
}

#modal3 { width: 80% !important ; height: 35% !important ; }