<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ElBichoApp</title>
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="fondo">

    <div id="appBicho">
        <div class="container">
            <br>
            <h3 class="center-align fuentec">¡El BichoAPP!</h3>
            <div id="menuInicial" v-if="juegoON" class="row">
               
                <div class="col s6 center-align"> 
                    <a class="waves-effect waves-light btn-large fuentec" v-on:click="iniciando"><i class="material-icons left">gamepad</i>¡Iniciar juego!</a>
                    
                </div>
                <div class="col s6 center-align">
                    <a class="waves-effect waves-light btn-large modal-trigger fuentec" href="#modal1"><i class="material-icons left">help</i>Como jugar</a>
                </div>
            </div>

            <div id="juegoBicho" v-else class="row">
                <div class="col s2 center-align"> 
                    <p>Puntos</p>
                    <p><b>{{puntos}}</b></p>
                </div>
                <div class="col s8 center-align">
                    <a class="waves-effect waves-light btn-large fuentec" v-on:click="l_1">1</a>
                    <a class="waves-effect waves-light btn-large fuentec" v-on:click="l_2">2</a>
                    <a class="waves-effect waves-light btn-large fuentec" v-on:click="l_3">3</a>
                    <a class="waves-effect waves-light btn-large fuentec" v-on:click="l_4">4</a>
                </div>
                <div class="col s2 center-align">
                    <p>Intentos</p>
                    <p><b>{{intentos}}</b></p>
                </div>

                
            </div>

            
        </div>
        <img class="responsive-img" src="img/ElBICHOR.png" alt="">

        <div id="modal2" class="modal">
            <div class="modal-content">
              <h4>¡¡Puntos!!</h4>
              <div class="row">
                <div class="col s3 center-align">
                    <p>Lado 1</p>
                    <b v-if="l_arqueria == 1">{{l_1_p}}</b>
                    <p v-else>{{l_1_p}}</p>
                </div>
                <div class="col s3 center-align">
                    <p>Lado 2</p>
                    <b v-if="l_arqueria == 2">{{l_2_p}}</b>
                    <p v-else>{{l_2_p}}</p>
                </div>
                <div class="col s3 center-align">
                    <p>Lado 3</p>
                    <b v-if="l_arqueria == 3" >{{l_3_p}}</b>
                    <p v-else>{{l_3_p}}</p>
                </div>
                <div class="col s3 center-align">
                    <p>Lado 4</p>
                    <b v-if="l_arqueria == 4" >{{l_4_p}}</b>
                    <p v-else>{{l_4_p}}</p>
                </div>
              </div>
              <br>
            </div>
            <div class="modal-footer">
              <a v-on:click="chutar(false)" class="modal-close waves-effect waves-green btn-flat">¡Continuar!</a>
            </div>
        </div>

        <div id="modal3" class="modal">
            <div class="modal-content">
              <h4>¡¡Puntos Finales : {{puntos}}!!</h4>
              <div class="divider"></div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" minlength="3" maxlength="8" size="10">
                <label for="icon_prefix">Apodo</label>
              </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-light btn" v-on:click="reiniciar()"><i class="material-icons left">star</i>Cancelar</a>
                <a class="modal-close waves-effect waves-light btn"><i class="material-icons left">send</i>Enviar</a>
            </div>
        </div>
    </div>
    



    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>



    <script src="js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src="js/main.js"></script>
</body>
</html>